main {
    background: rgb(255, 255, 255);
    padding: 48px 0;
    color: rgb(82, 4, 56);
}

main div {
    width: 1040px;
    margin: 0 auto;    
}

.sobre-mim {
    position: relative;
}

.foto-sobre-mim {
    width: 300px;
    display: inline-block;
    border-radius: 8px;
    box-shadow: 1px 1px 16px rgba(82, 4, 56, 0.2);
    position: relative;
}

.texto-sobre-mim {
    display: inline-block;
    width: 480px;
    vertical-align: top;
    position: relative;
    right: 0;
    top: 48px;
}

.titulo {
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 48px;
}

.background-texto {
    background-color: rgb(82, 4, 56);
    box-shadow: 1px 1px 16px rgba(82, 4, 56, 0.5);
    color: rgb(255, 255, 255);
    padding: 18px;
    display: inline-block;
    border-radius: 8px;
    width: 45%;
    box-sizing: border-box;
    vertical-align: top;
}

.background-texto a {
    color: rgb(255, 255, 255);
}

.margem-caixas {
    margin: 2.3%;
}

.background-texto {
    font-size: 16px;
    width: 100%;
}

#formacao-academica {
    height: 60px;
}

#formacao-alternativa {
    height: 80px;
}

#experiencias-background {
    height: 370px;
}

.margem-caixas {
    margin: 0 0 2.3% 0;
}

.icones-habilidades {
    width: 90px;
    transition: 0.7s transform;
}

.icones-habilidades:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.display-informacoes-habilidades {
    display: none;
}

.icones-interesses {
    width: 90px;
    transition: 0.7s transform;
}

.icones-interesses:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.display-informacoes-interesses {
    display: none;
}

@media screen and (max-width:1040px) {
    main {
        padding: 16px 0;
    }

    main div {
        width: 340px;
        padding: 8px;
    }

    .foto-sobre-mim {
        width: 100%;
        opacity: 0.2;
        position: relative;
    }

    .texto-sobre-mim {
        display: block;
        width: 300px;
        text-align: center;
        right: 0;
        left: 0;
        top: 0;
        margin: 0 auto;
    }

    .titulo {
        margin-bottom: 8px;
        margin-top: 8px;
    }

    .background-texto {
        font-size: 13px;
        width: 100%;
    }    

    #formacao-academica {
        height: 80px;
    }
    
    #formacao-alternativa {
        height: 140px;
    }
    
    #experiencias-background {
        height: 350px;
    }
   
    .icones-habilidades {
        width: 60px;
    }
    
    .icones-interesses {
        width: 60px;
    }
}